@charset "UTF-8";

@font-face {
	font-family: 'wockericon';
	src:url('../fonts/wockericon.eot?-ma84ca');
	src:url('../fonts/wockericon.eot?#iefix-ma84ca') format('embedded-opentype'),
		url('../fonts/wockericon.woff?-ma84ca') format('woff'),
		url('../fonts/wockericon.ttf?-ma84ca') format('truetype'),
		url('../fonts/wockericon.svg?-ma84ca#wockericon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'wockericon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-size: 1.25em;
		vertical-align: middle;
	}
}

a[class^="icon-"], a[class*=" icon-"] {

	&:hover {
		text-decoration: none;
	}
}

.icon-wocker:before {
	content: "\e600";
}

.icon-github:before {
	content: "\e601";
}

.icon-facebook:before {
	content: "\e602";
}

.icon-twitter:before {
	content: "\e603";
}

