@charset "UTF-8";

$blue: #33ccff;
$light_gray: #f9f9fc;

$brand_color: $blue;

$font_color: #333;
$link_color: darken($brand_color, 10%);
$heading_color: darken($brand_color, 10%);
$pre_bg_color: #282822;
$footer_bg_color: #fff;

$base_font_size: 10px;
$p_font_size: $base_font_size * 1.6;
$h1_font_size: $p_font_size * 4;
$h2_font_size: $p_font_size * 3;
$h3_font_size: $p_font_size * 2;
$h4_font_size: $p_font_size * 1.6;
$h5_font_size: $p_font_size * 1.2;
$h6_font_size: $p_font_size * 1;

$header_logo_font_size: 64px;

$brand_font_family: 'Quicksand', sans-serif;

$border_color: #eee;

$w_lg: 960px;

$muli: 'Muli', sans-serif;
$quicksand: 'Quicksand', sans-serif;