@charset "UTF-8";

$blue: #80bfff;

$font_color: #333;
$brand_color: $blue;
$pre_bg_color: #282822;


$p_font_size: 16px;
$h1_font_size: $p_font_size * 2;
$h2_font_size: $p_font_size * 1.8;
$h3_font_size: $p_font_size * 1.6;
$h4_font_size: $p_font_size * 1.4;
$h5_font_size: $p_font_size * 1.2;
$h6_font_size: $p_font_size * 1;
