@charset "UTF-8";
@import "reset";
@import "variables";
@import "compass";

* {
	@include box-sizing(border-box);
}

body {
	line-height: 1.6;
	color: $font_color;
}

a {
	color: $link_color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

p {
	font-size: $p_font_size;
	margin: ($p_font_size * 1) 0;
}

h1 {
	font-size: $h1_font_size;
	margin: ($p_font_size * 2) 0 ($p_font_size * 1.6);
}

h2 {
	font-size: $h2_font_size;
	margin: ($p_font_size * 1.8) 0 ($p_font_size * 1.6);
}

h3 {
	font-size: $h3_font_size;
	margin: ($p_font_size * 1.6) 0 ($p_font_size * 1.4);
}

h4 {
	font-size: $h4_font_size;
	margin: ($p_font_size * 1.4) 0 ($p_font_size * 1.2);
}

h5 {
	font-size: $h5_font_size;
	margin: ($p_font_size * 1.2) 0 ($p_font_size * 1);
}

h6 {
	font-size: $h6_font_size;
	margin: ($p_font_size * 1) 0 ($p_font_size * 0.6);
}

code,
pre {
	color: #fff;
	background: $pre_bg_color;
	@include border-radius(4px);
}

p,
li {
	code {
		// margin: 0 0.5em;
		padding: 3px 6px;
		vertical-align: baseline;
	}
}

pre {
	margin: ($p_font_size * 1) 0;
	padding: $p_font_size;
}

.site-header {
	padding: 40px;
	background: $brand_color;
	color: #fff;

}

.site-content {

	h1 {
		text-indent: -1.15em;

		&:before {
			content: "#";
			color: $brand_color;
			margin-right: 0.5em;
		}
	}

	h2 {
		text-indent: -1.8em;

		&:before {
			content: "##";
			color: $brand_color;
			margin-right: 0.5em;
		}
	}

	h3 {
		text-indent: -2.45em;

		&:before {
			content: "###";
			color: $brand_color;
			margin-right: 0.5em;
		}
	}
}

.inner {
	width: 960px;
	margin: auto;
	padding: 0 10px;

	> .main,
	> .aside {
		margin-left: -10px;
		margin-right: -10px;
	}
}

.main {
	float: left;
	width: 75%;
	padding: 0 10px;
}

.aside {
	float: right;
	width: 25%;
	padding: 0 10px;
}
