@charset "UTF-8";
@import "compass";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "reset";
@import "icon";
@import "js";
@import "monokai";

* {
	@include box-sizing(border-box);
}

body {
	line-height: 1.6;
	color: $font_color;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
}

hr {
	border-color: $border_color;
}

a {
	color: $link_color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

strong {
	font-weight: 700;
}

p {
	margin: ($p_font_size * 1) 0;

	strong {
		font-weight: 400;
	}
}

h1 {
	color: $heading_color;
	font-family: $brand_font_family;
	font-size: $h1_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h1_font_size 0 ($h1_font_size / 2);
	border-top: 1px solid $border_color;
	padding: ($h1_font_size / 2) 0 0;

	&:first-child {
		border-top: 0;
		border-bottom: 0;
	}
}

h2 {
	color: $heading_color;
	font-family: $brand_font_family;
	font-size: $h2_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h2_font_size 0 ($h2_font_size / 2);
	border-top: 1px solid $border_color;
	padding: ($h2_font_size / 2) 0 0;

	&:first-child {
		border-top: 0;
		margin-top: 0;
	}
}

h3 {
	font-family: $brand_font_family;
	font-size: $h3_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h3_font_size 0 ($h3_font_size / 2);
}

h4 {
	font-family: $brand_font_family;
	font-size: $h4_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h4_font_size 0 ($h4_font_size / 2);
}

h5 {
	font-family: $brand_font_family;
	font-size: $h5_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h5_font_size 0 ($h5_font_size / 2);
}

h6 {
	font-family: $brand_font_family;
	font-size: $h6_font_size;
	font-weight: 300;
	line-height: 1.25;
	margin: $h6_font_size 0 ($h6_font_size / 2);
}

code {
	color: #f8f8f2;
	background: $pre_bg_color;
	padding: 0.15em 0.4em;
	@include border-radius(4px);
}

p,
li,
dt,
dd {
	code {
		white-space: nowrap;
	}
}

pre {
	code {
		display: block;
		margin: ($p_font_size * 1) 0;
		padding: $p_font_size;
		overflow: auto;
	}
}

blockquote {
	margin-top: 30px;
	border: 1px solid $border_color;
	background: $light_gray;
	padding: 20px;

	> h1:first-child,
	> h2:first-child,
	> h3:first-child,
	> h4:first-child,
	> h5:first-child,
	> h6:first-child {
		margin-top: 0;
	}
}

li {
	text-indent: -0.9em;
	padding-left: 0.9em;
	margin-bottom: 0.5em;

	&:before {
		content: "-";
		color: $link_color;
		margin-right: 0.5em;
	}
}

dl.dl_inline {

	dt {
		float: left;
		max-width: 50%;
		margin-right: 0.5em;

		@include media(max-width $w_lg) {
			float: none;
			max-width: auto;
			margin-right: 0;
			margin-top: 0.5em;
		};

		&:before {
			content: "-";
			color: $brand_color;
			margin-right: 0.5em;
		}
	}

	dd {
		overflow: hidden;

		@include media(max-width $w_lg) {
			margin-left: 0.9em;
		};
	}
}

@for $i from 1 through 5 {
	dl.dl_#{$i * 10} {
		dt {
			width: $i * 10%;

			@include media(max-width $w_lg) {
				width: auto;
			};
		}
	}
}

.inner {
	width: 960px;
	margin: auto;
	overflow: hidden;
	position: relative;

	@include media(max-width $w_lg) {
		width: 100%;
	};
}

.site-header {
	padding: 40px 0;
	background: $brand_color url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	min-width: 960px;

	.site-title {
		color: #fff;
		font-size: $header_logo_font_size;
		font-weight: 300;
		margin: 0;
		padding: 0;
		border: 0;

		a {
			color: inherit;

			&:hover {
				text-decoration: none;
			}
		}

		.version {
			font-size: $p_font_size;
		}
	}
}

.site-description {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;

	strong {
		font-weight: 700;
	}
}

.site-header-main {
	float: left;
	width: 75%;
	padding: 0 10px;
}

.site-header-aside {
	float: right;
	width: 25%;
	padding: 0 10px;

	a {
		font-family: 'Quicksand', sans-serif;
		font-size: $p_font_size * 0.9;
		margin: auto;
		display: block;
		width: 130px;
		height: 130px;
		border: 2px solid #fff;
		color: #fff;
		padding-top: 37px;
		position: absolute;
		left: 87.5%;
		top: 50%;
		margin: -64px 0 0 -64px;
		text-align: center;
		@include border-radius(130px);

		.icon-github {
			font-size: 18px;
			font-weight: 700;

			&:before {
				vertical-align: -3px;
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.site-content-above {
	height: 52px;
	padding: 10px 0 15px;
	background: #ecf0f1;
	background: #fff;
	border-bottom: 1px solid $border_color;
	text-align: center;

	iframe {
		vertical-align: bottom;
	}

	.fb-like {
		margin-right: 30px;
		display: inline-block;
	}

	#twitter-widget-1 {
		margin-right: 30px;
	}

	.pocket-btn {
		display: inline-block;

		iframe {
			height: 20px
		}

	}
}

.site-footer {
	border-top: 1px solid $border_color;
	background: $footer_bg_color;
	padding: 20px 0;
	text-align: center;
	min-width: 960px;

	p {
		margin: 0;
	}
}

.site-main {
	float: left;
	width: 75%;
	padding: 20px 10px 150px;

	@include media(max-width $w_lg) {
		float: none;
		width: auto;
		padding-left: $gutter;
		padding-right: $gutter;
	};
}

.site-aside {
	position: relative;
	float: right;
	width: 25%;
	padding: 20px 10px;

	@include media(max-width $w_lg) {
		float: none;
		width: auto;
	};
}

.site-nav {
	padding: 20px 0;

	> ul {
		// border-left: 1px solid $border_color;

		> li {
			text-indent: 0;
			padding-left: 0;
			margin-bottom: 0;

			&:before {
				content: "";
				margin: 0;
			}

			&.active {
				border-left: 2px solid $brand_color;

				> a {
					color: $font_color;
					padding-left: (20px - 2px);
				}
			}

			> a {
				display: block;
				padding: 0.5em 0 0.5em 20px;
				line-height: 1.25;

				&:hover {
					text-decoration: none;
					background: $brand_color;
					color: #fff;
				}
			}
		}
	}
}

.sns {
	padding-left: 20px;
	font-size: $p_font_size * 1.2;
}

.site-issues {
	padding-left: 20px;

	li {
		margin-bottom: 1em;
		line-height: 1.25;
	}

	.site-issues-title {
		font-size: $p_font_size * 1.2;
	}
}