{% assign url = page.url | remove: 'index.html' %}
{% capture home_url %}{{ site.baseurl }}/{% endcapture %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}: {{ site.description }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<meta property="og:type" content="article" />
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}/" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:image" content="{% if page.ogp_image %}{{ site.url }}{{ site.baseurl }}{{ site.images_dir }}{{ page.ogp_image }}{% else %}{{ site.url }}{{ site.baseurl }}{{ site.images_dir }}{{ site.ogp_image }}{% endif %}" />

	<link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700|Muli:300,400|Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ site.baseurl }}{{ site.css_dir }}/style.css" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{{ site.baseurl }}{{ site.images_dir }}/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ site.baseurl }}{{ site.images_dir }}/apple-touch-icon.png" />
</head>

<body id="site-top" class="{% if page.type != '' %}{{ page.type }} js-{{ page.type }}{% endif %}">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60390387-1', 'auto');
  ga('send', 'pageview');

</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=656573811126589&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="above-site-header-notice">
	<p>Wocker 1.0.0 is now available! Note: <code>wocker update</code> command does NOT upgrade v0.x to v1.0.0 or later. Please clone the repository again.</p>
</div>

<header class="site-header">
	<div class="site-header-top">
		<div class="inner">
			<h1 class="site-logo"><a class="icon-wocker" href="{{ site.baseurl }}/">Wocker</a></h1>
			{% if url != home_url %}<a class="site-header-top-github-link icon-github" href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}">GitHub Project</a>{% endif %}
			<nav class="site-nav">
				<ul>
					<li class="{% if page.type == 'get-started' %}active{% endif %}"><a href="{{ site.baseurl }}/">Get Started</a></li>
					<li class="{% if page.type == 'commands' %}active{% endif %}"><a href="{{ site.baseurl }}/commands/">Commands</a></li>
					<li class="{% if page.type == 'tips' %}active{% endif %}"><a href="{{ site.baseurl }}/tips/">Tips</a></li>
					<li class="{% if page.type == 'changelog' %}active{% endif %}"><a href="{{ site.baseurl }}/changelog/">Changelog</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="site-header-middle">
		<div class="inner">
			<div class="site-header-main">
				{% if url == home_url %}
				<h1 class="site-title"><a href="{{ site.baseurl }}/">Wocker</a></h1>
				<p class="site-description">Docker-based rapid development environment of WordPress.<br />
					<strong>IT TAKES JUST 3 SECONDS TO CREATE A NEW ONE!</strong><br />
					Version {{ site.version }}</p>
				{% else %}
				<h1 class="page-title"><a href="{{ url }}">{{ page.title }}</a></h1>
				{% endif %}
			</div>
			{% if url == home_url %}
			<div class="site-header-aside">
				<a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}">
					<small>View project on</small><br />
					<i class="icon-github">GitHub</i>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
</header>

<div class="site-content js-site-content">
	<div class="site-content-top">
		<div class="inner">
			<iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_org }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="100" height="20" allowTransparency="true" title="Star on GitHub"></iframe>
			<iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_org }}&repo={{ site.github_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="100" height="20" allowTransparency="true" title="Fork on GitHub"></iframe>
			<iframe src="http://ghbtns.com/github-btn.html?user={{ site.github_user }}&type=follow" frameborder="0" scrolling="0" width="140" height="20" allowTransparency="true" title="Follow @ixkaito"></iframe>
			<div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ site.baseurl }}">Tweet</a>
			<a href="https://twitter.com/ixkaito" class="twitter-follow-button" data-show-count="false">Follow @ixkaito</a>
			<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en" data-save-url="{{ site.url }}{{ site.baseurl }}"></a>
		</div>
	</div><!-- /.site-content-top -->
