<div class="js-affix">
	<nav class="page-nav js-page-nav">
		<ul>
			<li class="active"><a href="#site-top">Top</a></li>
		</ul>
	</nav>
	<hr />
	<div class="site-issues js-site-issues">
		<p class="site-issues-title"><a href="https://github.com/{{ site.github_org }}/{{ site.github_repo }}/issues" class="icon-issues">Issues</a></p>
	</div>
	<hr />
	<p class="sns">
		<a href="https://github.com/{{ site.github_user }}" class="icon-github"></a>
		<a href="https://www.facebook.com/{{ site.facebook_user }}" class="icon-facebook"></a>
		<a href="https://twitter.com/{{ site.twitter_user }}" class="icon-twitter"></a>
	</p>
</div>