<div class="js-affix">
	<nav class="page-nav js-page-nav">
		<ul>
			<li class="nav-h2 active"><a href="#site-top">Top</a></li>
		</ul>
	</nav>
	<hr />
	<div class="site-issues js-site-issues">
		<p class="site-issues-title"><a href="https://github.com/{{ site.github.org }}/{{ site.github.repo }}/issues" class="icon-issues">Issues</a></p>
	</div>
	<hr />
	<div class="wocker-contributors js-wocker-contributors">
		<p class="wocker-contributors-title icon-contributor">Contributors</p>
		<ul>
			<li data-login="ixkaito"></li>
			<li data-login="supersoju"></li>
			<li data-login="laczoka"></li>
			<li data-login="danielbachhuber"></li>
			<li data-login="ailispaw"></li>
			<li data-login="AtsushiA"></li>
			<li data-login="akiya64"></li>
		</ul>
	</div>
</div>