/* line 3, ../_sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input,
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  /*text-decoration: none;*/
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../_sass/_reset.scss */
article, aside, details, figcaption, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../_sass/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../_sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 30, ../_sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../_sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 32, ../_sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 33, ../_sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 34, ../_sass/_reset.scss */
caption, th {
  text-align: left;
}

/* line 36, ../_sass/_reset.scss */
small {
  font-size: 80%;
}

/* line 37, ../_sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 38, ../_sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 39, ../_sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 41, ../_sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../_sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../_sass/_reset.scss */
input {
  vertical-align: middle;
}

/* line 47, ../_sass/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 48, ../_sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 50, ../_sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 52, ../_sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 53, ../_sass/_reset.scss */
img {
  vertical-align: top;
}

/* line 6, ../_sass/style.scss */
body {
  line-height: 1.6;
  color: #333;
}

/* line 11, ../_sass/style.scss */
p {
  font-size: 16px;
  margin: 16px 0;
}

/* line 16, ../_sass/style.scss */
h1 {
  font-size: 32px;
  margin: 32px 0 25.6px;
}

/* line 21, ../_sass/style.scss */
h2 {
  font-size: 28.8px;
  margin: 28.8px 0 25.6px;
}

/* line 26, ../_sass/style.scss */
h3 {
  font-size: 25.6px;
  margin: 25.6px 0 22.4px;
}

/* line 31, ../_sass/style.scss */
h4 {
  font-size: 22.4px;
  margin: 22.4px 0 19.2px;
}

/* line 36, ../_sass/style.scss */
h5 {
  font-size: 19.2px;
  margin: 19.2px 0 16px;
}

/* line 41, ../_sass/style.scss */
h6 {
  font-size: 16px;
  margin: 16px 0 9.6px;
}

/* line 46, ../_sass/style.scss */
pre {
  color: #fff;
  padding: 16px;
  background: #282822;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 53, ../_sass/style.scss */
.inner {
  width: 960px;
  margin: auto;
}

/* line 58, ../_sass/style.scss */
.site-header {
  padding: 40px;
  background: #80bfff;
  color: #fff;
}
