/* line 3, ../_sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input,
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  /*text-decoration: none;*/
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../_sass/_reset.scss */
article, aside, details, figcaption, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../_sass/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../_sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 30, ../_sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../_sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 32, ../_sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 33, ../_sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 34, ../_sass/_reset.scss */
caption, th {
  text-align: left;
}

/* line 36, ../_sass/_reset.scss */
small {
  font-size: 80%;
}

/* line 37, ../_sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 38, ../_sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 39, ../_sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 41, ../_sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../_sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../_sass/_reset.scss */
input {
  vertical-align: middle;
}

/* line 47, ../_sass/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 48, ../_sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 50, ../_sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 52, ../_sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 53, ../_sass/_reset.scss */
img {
  vertical-align: top;
}

@font-face {
  font-family: 'wockericon';
  src: url("../fonts/wockericon.eot?ni2nxu");
  src: url("../fonts/wockericon.eot?#iefixni2nxu") format("embedded-opentype"), url("../fonts/wockericon.woff?ni2nxu") format("woff"), url("../fonts/wockericon.ttf?ni2nxu") format("truetype"), url("../fonts/wockericon.svg?ni2nxu#wockericon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../_sass/_icon.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'wockericon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
  vertical-align: middle;
}

/* line 36, ../_sass/_icon.scss */
a[class^="icon-"]:hover:before, a[class*=" icon-"]:hover:before {
  text-decoration: none;
}

/* line 42, ../_sass/_icon.scss */
.icon-wocker:before {
  content: "\e600";
}

/* line 46, ../_sass/_icon.scss */
.icon-github:before {
  content: "\e601";
}

/* line 50, ../_sass/_icon.scss */
.icon-facebook:before {
  content: "\e602";
}

/* line 54, ../_sass/_icon.scss */
.icon-twitter:before {
  content: "\e603";
}

/* line 58, ../_sass/_icon.scss */
.icon-issues:before {
  content: "\e604";
}

/* line 3, ../_sass/_js.scss */
.affix {
  position: fixed;
  top: 0;
}

/* line 8, ../_sass/_js.scss */
.affix-bottom {
  position: absolute;
  bottom: 0;
}

/* line 8, ../_sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../_sass/style.scss */
body {
  line-height: 1.6;
  color: #333;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

/* line 19, ../_sass/style.scss */
hr {
  border-color: #eee;
}

/* line 23, ../_sass/style.scss */
a {
  color: deepskyblue;
  text-decoration: none;
}
/* line 27, ../_sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 32, ../_sass/style.scss */
strong {
  font-weight: 700;
}

/* line 36, ../_sass/style.scss */
p {
  margin: 16px 0;
}
/* line 39, ../_sass/style.scss */
p strong {
  font-weight: 400;
}

/* line 44, ../_sass/style.scss */
h1 {
  color: deepskyblue;
  font-family: "Quicksand", sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 1.25;
  margin: 64px 0 32px;
  border-top: 1px solid #eee;
  padding: 32px 0 0;
}
/* line 54, ../_sass/style.scss */
h1:first-child {
  border-top: 0;
  border-bottom: 0;
}

/* line 60, ../_sass/style.scss */
h2 {
  color: deepskyblue;
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.25;
  margin: 48px 0 24px;
  border-top: 1px solid #eee;
  padding: 24px 0 0;
}
/* line 70, ../_sass/style.scss */
h2:first-child {
  border-top: 0;
  margin-top: 0;
}

/* line 76, ../_sass/style.scss */
h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  margin: 32px 0 16px;
}

/* line 84, ../_sass/style.scss */
h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 25.6px;
  font-weight: 300;
  line-height: 1.25;
  margin: 25.6px 0 12.8px;
}

/* line 92, ../_sass/style.scss */
h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 19.2px;
  font-weight: 300;
  line-height: 1.25;
  margin: 19.2px 0 9.6px;
}

/* line 100, ../_sass/style.scss */
h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin: 16px 0 8px;
}

/* line 108, ../_sass/style.scss */
code,
pre {
  color: #fff;
  background: #282822;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 119, ../_sass/style.scss */
p code,
li code,
dt code,
dd code {
  padding: 0.15em 0.4em;
  white-space: nowrap;
}

/* line 125, ../_sass/style.scss */
pre {
  margin: 16px 0;
  padding: 16px;
}

/* line 130, ../_sass/style.scss */
li {
  text-indent: -0.9em;
  padding-left: 0.9em;
}
/* line 134, ../_sass/style.scss */
li:before {
  content: "-";
  color: deepskyblue;
  margin-right: 0.5em;
}

/* line 143, ../_sass/style.scss */
dl.dl_inline dt {
  float: left;
  max-width: 50%;
  margin-right: 0.5em;
}
/* line 148, ../_sass/style.scss */
dl.dl_inline dt:before {
  content: "-";
  color: #33ccff;
  margin-right: 0.5em;
}
/* line 155, ../_sass/style.scss */
dl.dl_inline dd {
  overflow: hidden;
}

/* line 162, ../_sass/style.scss */
dl.dl_10 dt {
  width: 10%;
}

/* line 162, ../_sass/style.scss */
dl.dl_20 dt {
  width: 20%;
}

/* line 162, ../_sass/style.scss */
dl.dl_30 dt {
  width: 30%;
}

/* line 162, ../_sass/style.scss */
dl.dl_40 dt {
  width: 40%;
}

/* line 162, ../_sass/style.scss */
dl.dl_50 dt {
  width: 50%;
}

/* line 168, ../_sass/style.scss */
.inner {
  width: 960px;
  margin: auto;
  overflow: hidden;
}

/* line 174, ../_sass/style.scss */
.site-header {
  padding: 40px 0;
  background: #33ccff url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-width: 960px;
}
/* line 181, ../_sass/style.scss */
.site-header h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 189, ../_sass/style.scss */
.site-header h1 a {
  color: inherit;
}
/* line 192, ../_sass/style.scss */
.site-header h1 a:hover {
  text-decoration: none;
}

/* line 199, ../_sass/style.scss */
.site-description {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 205, ../_sass/style.scss */
.site-description strong {
  font-weight: 700;
}

/* line 210, ../_sass/style.scss */
.site-header-main {
  float: left;
  width: 75%;
  padding: 0 10px;
}

/* line 216, ../_sass/style.scss */
.site-header-aside {
  float: right;
  width: 25%;
  padding: 0 10px;
}
/* line 221, ../_sass/style.scss */
.site-header-aside a {
  font-family: 'Quicksand', sans-serif;
  font-size: 14.4px;
  margin: auto;
  display: block;
  width: 130px;
  height: 130px;
  border: 2px solid #fff;
  color: #fff;
  padding-top: 37px;
  text-align: center;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
}
/* line 234, ../_sass/style.scss */
.site-header-aside a .icon-github {
  font-size: 18px;
  font-weight: 700;
}
/* line 238, ../_sass/style.scss */
.site-header-aside a .icon-github:before {
  vertical-align: -3px;
}
/* line 243, ../_sass/style.scss */
.site-header-aside a:hover {
  text-decoration: none;
}

/* line 249, ../_sass/style.scss */
.site-content-above {
  height: 52px;
  padding: 10px 0 15px;
  background: #ecf0f1;
  background: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
}
/* line 257, ../_sass/style.scss */
.site-content-above iframe {
  vertical-align: bottom;
}
/* line 261, ../_sass/style.scss */
.site-content-above .fb-like {
  margin-right: 30px;
  display: inline-block;
}
/* line 266, ../_sass/style.scss */
.site-content-above #twitter-widget-1 {
  margin-right: 30px;
}
/* line 270, ../_sass/style.scss */
.site-content-above .pocket-btn {
  display: inline-block;
}
/* line 273, ../_sass/style.scss */
.site-content-above .pocket-btn iframe {
  height: 20px;
}

/* line 280, ../_sass/style.scss */
.site-footer {
  border-top: 1px solid #eee;
  background: #fff;
  padding: 20px 0;
  text-align: center;
  min-width: 960px;
}
/* line 287, ../_sass/style.scss */
.site-footer p {
  margin: 0;
}

/* line 292, ../_sass/style.scss */
.site-main {
  float: left;
  width: 75%;
  padding: 20px 10px 150px;
}

/* line 298, ../_sass/style.scss */
.site-aside {
  position: relative;
  float: right;
  width: 25%;
  padding: 20px 10px;
}

/* line 305, ../_sass/style.scss */
.site-nav {
  padding: 20px 0;
}
/* line 311, ../_sass/style.scss */
.site-nav > ul > li {
  text-indent: 0;
  padding-left: 0;
}
/* line 315, ../_sass/style.scss */
.site-nav > ul > li:before {
  content: "";
  margin: 0;
}
/* line 320, ../_sass/style.scss */
.site-nav > ul > li.active {
  border-left: 2px solid #33ccff;
}
/* line 323, ../_sass/style.scss */
.site-nav > ul > li.active > a {
  color: #333;
  padding-left: 18px;
}
/* line 329, ../_sass/style.scss */
.site-nav > ul > li > a {
  display: block;
  padding: 0.5em 0 0.5em 20px;
  line-height: 1.25;
}
/* line 334, ../_sass/style.scss */
.site-nav > ul > li > a:hover {
  text-decoration: none;
  background: #33ccff;
  color: #fff;
}

/* line 344, ../_sass/style.scss */
.sns {
  padding-left: 20px;
  font-size: 19.2px;
}

/* line 349, ../_sass/style.scss */
.site-issues {
  padding-left: 20px;
}
/* line 352, ../_sass/style.scss */
.site-issues .site-issues-title {
  font-size: 19.2px;
}
