/* line 3, ../_sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input,
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
  /*text-decoration: none;*/
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../_sass/_reset.scss */
article, aside, details, figcaption, dialog, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../_sass/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../_sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 30, ../_sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../_sass/_reset.scss */
:focus {
  outline: 0;
}

/* line 32, ../_sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 33, ../_sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 34, ../_sass/_reset.scss */
caption, th {
  text-align: left;
}

/* line 36, ../_sass/_reset.scss */
small {
  font-size: 80%;
}

/* line 37, ../_sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 38, ../_sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 39, ../_sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 41, ../_sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../_sass/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 46, ../_sass/_reset.scss */
input {
  vertical-align: middle;
}

/* line 47, ../_sass/_reset.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 48, ../_sass/_reset.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 50, ../_sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 52, ../_sass/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 53, ../_sass/_reset.scss */
img {
  vertical-align: top;
}

@font-face {
  font-family: 'wockericon';
  src: url("../fonts/wockericon.eot?ni2nxu");
  src: url("../fonts/wockericon.eot?#iefixni2nxu") format("embedded-opentype"), url("../fonts/wockericon.woff?ni2nxu") format("woff"), url("../fonts/wockericon.ttf?ni2nxu") format("truetype"), url("../fonts/wockericon.svg?ni2nxu#wockericon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 14, ../_sass/_icon.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'wockericon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
  vertical-align: middle;
}

/* line 36, ../_sass/_icon.scss */
a[class^="icon-"]:hover:before, a[class*=" icon-"]:hover:before {
  text-decoration: none;
}

/* line 42, ../_sass/_icon.scss */
.icon-wocker:before {
  content: "\e600";
}

/* line 46, ../_sass/_icon.scss */
.icon-github:before {
  content: "\e601";
}

/* line 50, ../_sass/_icon.scss */
.icon-facebook:before {
  content: "\e602";
}

/* line 54, ../_sass/_icon.scss */
.icon-twitter:before {
  content: "\e603";
}

/* line 58, ../_sass/_icon.scss */
.icon-issues:before {
  content: "\e604";
}

/* line 3, ../_sass/_js.scss */
.affix {
  position: fixed;
  top: 0;
}

/* line 8, ../_sass/_js.scss */
.affix-bottom {
  position: absolute;
  bottom: 0;
}

/* line 3, ../_sass/_monokai.scss */
.highlight .hll {
  background-color: #49483e;
}

/* line 4, ../_sass/_monokai.scss */
.highlight .c {
  color: #75715e;
}

/* Comment */
/* line 5, ../_sass/_monokai.scss */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}

/* Error */
/* line 6, ../_sass/_monokai.scss */
.highlight .k {
  color: #66d9ef;
}

/* Keyword */
/* line 7, ../_sass/_monokai.scss */
.highlight .l {
  color: #ae81ff;
}

/* Literal */
/* line 8, ../_sass/_monokai.scss */
.highlight .n {
  color: #f8f8f2;
}

/* Name */
/* line 9, ../_sass/_monokai.scss */
.highlight .o {
  color: #f92672;
}

/* Operator */
/* line 10, ../_sass/_monokai.scss */
.highlight .p {
  color: #f8f8f2;
}

/* Punctuation */
/* line 11, ../_sass/_monokai.scss */
.highlight .cm {
  color: #75715e;
}

/* Comment.Multiline */
/* line 12, ../_sass/_monokai.scss */
.highlight .cp {
  color: #75715e;
}

/* Comment.Preproc */
/* line 13, ../_sass/_monokai.scss */
.highlight .c1 {
  color: #75715e;
}

/* Comment.Single */
/* line 14, ../_sass/_monokai.scss */
.highlight .cs {
  color: #75715e;
}

/* Comment.Special */
/* line 15, ../_sass/_monokai.scss */
.highlight .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 16, ../_sass/_monokai.scss */
.highlight .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 17, ../_sass/_monokai.scss */
.highlight .kc {
  color: #66d9ef;
}

/* Keyword.Constant */
/* line 18, ../_sass/_monokai.scss */
.highlight .kd {
  color: #66d9ef;
}

/* Keyword.Declaration */
/* line 19, ../_sass/_monokai.scss */
.highlight .kn {
  color: #f92672;
}

/* Keyword.Namespace */
/* line 20, ../_sass/_monokai.scss */
.highlight .kp {
  color: #66d9ef;
}

/* Keyword.Pseudo */
/* line 21, ../_sass/_monokai.scss */
.highlight .kr {
  color: #66d9ef;
}

/* Keyword.Reserved */
/* line 22, ../_sass/_monokai.scss */
.highlight .kt {
  color: #66d9ef;
}

/* Keyword.Type */
/* line 23, ../_sass/_monokai.scss */
.highlight .ld {
  color: #e6db74;
}

/* Literal.Date */
/* line 24, ../_sass/_monokai.scss */
.highlight .m {
  color: #ae81ff;
}

/* Literal.Number */
/* line 25, ../_sass/_monokai.scss */
.highlight .s {
  color: #e6db74;
}

/* Literal.String */
/* line 26, ../_sass/_monokai.scss */
.highlight .na {
  color: #a6e22e;
}

/* Name.Attribute */
/* line 27, ../_sass/_monokai.scss */
.highlight .nb {
  color: #f8f8f2;
}

/* Name.Builtin */
/* line 28, ../_sass/_monokai.scss */
.highlight .nc {
  color: #a6e22e;
}

/* Name.Class */
/* line 29, ../_sass/_monokai.scss */
.highlight .no {
  color: #66d9ef;
}

/* Name.Constant */
/* line 30, ../_sass/_monokai.scss */
.highlight .nd {
  color: #a6e22e;
}

/* Name.Decorator */
/* line 31, ../_sass/_monokai.scss */
.highlight .ni {
  color: #f8f8f2;
}

/* Name.Entity */
/* line 32, ../_sass/_monokai.scss */
.highlight .ne {
  color: #a6e22e;
}

/* Name.Exception */
/* line 33, ../_sass/_monokai.scss */
.highlight .nf {
  color: #a6e22e;
}

/* Name.Function */
/* line 34, ../_sass/_monokai.scss */
.highlight .nl {
  color: #f8f8f2;
}

/* Name.Label */
/* line 35, ../_sass/_monokai.scss */
.highlight .nn {
  color: #f8f8f2;
}

/* Name.Namespace */
/* line 36, ../_sass/_monokai.scss */
.highlight .nx {
  color: #a6e22e;
}

/* Name.Other */
/* line 37, ../_sass/_monokai.scss */
.highlight .py {
  color: #f8f8f2;
}

/* Name.Property */
/* line 38, ../_sass/_monokai.scss */
.highlight .nt {
  color: #f92672;
}

/* Name.Tag */
/* line 39, ../_sass/_monokai.scss */
.highlight .nv {
  color: #f8f8f2;
}

/* Name.Variable */
/* line 40, ../_sass/_monokai.scss */
.highlight .ow {
  color: #f92672;
}

/* Operator.Word */
/* line 41, ../_sass/_monokai.scss */
.highlight .w {
  color: #f8f8f2;
}

/* Text.Whitespace */
/* line 42, ../_sass/_monokai.scss */
.highlight .mf {
  color: #ae81ff;
}

/* Literal.Number.Float */
/* line 43, ../_sass/_monokai.scss */
.highlight .mh {
  color: #ae81ff;
}

/* Literal.Number.Hex */
/* line 44, ../_sass/_monokai.scss */
.highlight .mi {
  color: #ae81ff;
}

/* Literal.Number.Integer */
/* line 45, ../_sass/_monokai.scss */
.highlight .mo {
  color: #ae81ff;
}

/* Literal.Number.Oct */
/* line 46, ../_sass/_monokai.scss */
.highlight .sb {
  color: #e6db74;
}

/* Literal.String.Backtick */
/* line 47, ../_sass/_monokai.scss */
.highlight .sc {
  color: #e6db74;
}

/* Literal.String.Char */
/* line 48, ../_sass/_monokai.scss */
.highlight .sd {
  color: #e6db74;
}

/* Literal.String.Doc */
/* line 49, ../_sass/_monokai.scss */
.highlight .s2 {
  color: #e6db74;
}

/* Literal.String.Double */
/* line 50, ../_sass/_monokai.scss */
.highlight .se {
  color: #ae81ff;
}

/* Literal.String.Escape */
/* line 51, ../_sass/_monokai.scss */
.highlight .sh {
  color: #e6db74;
}

/* Literal.String.Heredoc */
/* line 52, ../_sass/_monokai.scss */
.highlight .si {
  color: #e6db74;
}

/* Literal.String.Interpol */
/* line 53, ../_sass/_monokai.scss */
.highlight .sx {
  color: #e6db74;
}

/* Literal.String.Other */
/* line 54, ../_sass/_monokai.scss */
.highlight .sr {
  color: #e6db74;
}

/* Literal.String.Regex */
/* line 55, ../_sass/_monokai.scss */
.highlight .s1 {
  color: #e6db74;
}

/* Literal.String.Single */
/* line 56, ../_sass/_monokai.scss */
.highlight .ss {
  color: #e6db74;
}

/* Literal.String.Symbol */
/* line 57, ../_sass/_monokai.scss */
.highlight .bp {
  color: #f8f8f2;
}

/* Name.Builtin.Pseudo */
/* line 58, ../_sass/_monokai.scss */
.highlight .vc {
  color: #f8f8f2;
}

/* Name.Variable.Class */
/* line 59, ../_sass/_monokai.scss */
.highlight .vg {
  color: #f8f8f2;
}

/* Name.Variable.Global */
/* line 60, ../_sass/_monokai.scss */
.highlight .vi {
  color: #f8f8f2;
}

/* Name.Variable.Instance */
/* line 61, ../_sass/_monokai.scss */
.highlight .il {
  color: #ae81ff;
}

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
/* line 64, ../_sass/_monokai.scss */
.highlight .gu {
  color: #75715e;
}

/* Generic.Subheading & Diff Unified/Comment? */
/* line 65, ../_sass/_monokai.scss */
.highlight .gd {
  color: #f92672;
}

/* Generic.Deleted & Diff Deleted */
/* line 66, ../_sass/_monokai.scss */
.highlight .gi {
  color: #a6e22e;
}

/* Generic.Inserted & Diff Inserted */
/* line 9, ../_sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../_sass/style.scss */
body {
  line-height: 1.6;
  color: #333;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

/* line 20, ../_sass/style.scss */
hr {
  border-color: #eee;
}

/* line 24, ../_sass/style.scss */
a {
  color: deepskyblue;
  text-decoration: none;
}
/* line 28, ../_sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 33, ../_sass/style.scss */
strong {
  font-weight: 700;
}

/* line 37, ../_sass/style.scss */
p {
  margin: 16px 0;
}
/* line 40, ../_sass/style.scss */
p strong {
  font-weight: 400;
}

/* line 45, ../_sass/style.scss */
h1 {
  color: deepskyblue;
  font-family: "Quicksand", sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 1.25;
  margin: 64px 0 32px;
  border-top: 1px solid #eee;
  padding: 32px 0 0;
}
/* line 55, ../_sass/style.scss */
h1:first-child {
  border-top: 0;
  border-bottom: 0;
}

/* line 61, ../_sass/style.scss */
h2 {
  color: deepskyblue;
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.25;
  margin: 48px 0 24px;
  border-top: 1px solid #eee;
  padding: 24px 0 0;
}
/* line 71, ../_sass/style.scss */
h2:first-child {
  border-top: 0;
  margin-top: 0;
}

/* line 77, ../_sass/style.scss */
h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  margin: 32px 0 16px;
}

/* line 85, ../_sass/style.scss */
h4 {
  font-family: "Quicksand", sans-serif;
  font-size: 25.6px;
  font-weight: 300;
  line-height: 1.25;
  margin: 25.6px 0 12.8px;
}

/* line 93, ../_sass/style.scss */
h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 19.2px;
  font-weight: 300;
  line-height: 1.25;
  margin: 19.2px 0 9.6px;
}

/* line 101, ../_sass/style.scss */
h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  margin: 16px 0 8px;
}

/* line 109, ../_sass/style.scss */
code,
pre {
  color: #fff;
  background: #282822;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 120, ../_sass/style.scss */
p code,
li code,
dt code,
dd code {
  padding: 0.15em 0.4em;
  white-space: nowrap;
}

/* line 126, ../_sass/style.scss */
pre {
  margin: 16px 0;
  padding: 16px;
  overflow: auto;
}

/* line 132, ../_sass/style.scss */
blockquote {
  margin-top: 30px;
  border: 1px solid #eee;
  background: #f9f9fc;
  padding: 20px;
}
/* line 138, ../_sass/style.scss */
blockquote > h1:first-child,
blockquote > h2:first-child,
blockquote > h3:first-child,
blockquote > h4:first-child,
blockquote > h5:first-child,
blockquote > h6:first-child {
  margin-top: 0;
}

/* line 148, ../_sass/style.scss */
li {
  text-indent: -0.9em;
  padding-left: 0.9em;
  margin-bottom: 0.5em;
}
/* line 153, ../_sass/style.scss */
li:before {
  content: "-";
  color: deepskyblue;
  margin-right: 0.5em;
}

/* line 162, ../_sass/style.scss */
dl.dl_inline dt {
  float: left;
  max-width: 50%;
  margin-right: 0.5em;
}
/* line 167, ../_sass/style.scss */
dl.dl_inline dt:before {
  content: "-";
  color: #33ccff;
  margin-right: 0.5em;
}
/* line 174, ../_sass/style.scss */
dl.dl_inline dd {
  overflow: hidden;
}

/* line 181, ../_sass/style.scss */
dl.dl_10 dt {
  width: 10%;
}

/* line 181, ../_sass/style.scss */
dl.dl_20 dt {
  width: 20%;
}

/* line 181, ../_sass/style.scss */
dl.dl_30 dt {
  width: 30%;
}

/* line 181, ../_sass/style.scss */
dl.dl_40 dt {
  width: 40%;
}

/* line 181, ../_sass/style.scss */
dl.dl_50 dt {
  width: 50%;
}

/* line 187, ../_sass/style.scss */
.inner {
  width: 960px;
  margin: auto;
  overflow: hidden;
}

/* line 193, ../_sass/style.scss */
.site-header {
  padding: 40px 0;
  background: #33ccff url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  min-width: 960px;
}
/* line 200, ../_sass/style.scss */
.site-header h1 {
  color: #fff;
  font-size: 64px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 208, ../_sass/style.scss */
.site-header h1 a {
  color: inherit;
}
/* line 211, ../_sass/style.scss */
.site-header h1 a:hover {
  text-decoration: none;
}

/* line 218, ../_sass/style.scss */
.site-description {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 224, ../_sass/style.scss */
.site-description strong {
  font-weight: 700;
}

/* line 229, ../_sass/style.scss */
.site-header-main {
  float: left;
  width: 75%;
  padding: 0 10px;
}

/* line 235, ../_sass/style.scss */
.site-header-aside {
  float: right;
  width: 25%;
  padding: 0 10px;
}
/* line 240, ../_sass/style.scss */
.site-header-aside a {
  font-family: 'Quicksand', sans-serif;
  font-size: 14.4px;
  margin: auto;
  display: block;
  width: 130px;
  height: 130px;
  border: 2px solid #fff;
  color: #fff;
  padding-top: 37px;
  text-align: center;
  -moz-border-radius: 130px;
  -webkit-border-radius: 130px;
  border-radius: 130px;
}
/* line 253, ../_sass/style.scss */
.site-header-aside a .icon-github {
  font-size: 18px;
  font-weight: 700;
}
/* line 257, ../_sass/style.scss */
.site-header-aside a .icon-github:before {
  vertical-align: -3px;
}
/* line 262, ../_sass/style.scss */
.site-header-aside a:hover {
  text-decoration: none;
}

/* line 268, ../_sass/style.scss */
.site-content-above {
  height: 52px;
  padding: 10px 0 15px;
  background: #ecf0f1;
  background: #fff;
  border-bottom: 1px solid #eee;
  text-align: center;
}
/* line 276, ../_sass/style.scss */
.site-content-above iframe {
  vertical-align: bottom;
}
/* line 280, ../_sass/style.scss */
.site-content-above .fb-like {
  margin-right: 30px;
  display: inline-block;
}
/* line 285, ../_sass/style.scss */
.site-content-above #twitter-widget-1 {
  margin-right: 30px;
}
/* line 289, ../_sass/style.scss */
.site-content-above .pocket-btn {
  display: inline-block;
}
/* line 292, ../_sass/style.scss */
.site-content-above .pocket-btn iframe {
  height: 20px;
}

/* line 299, ../_sass/style.scss */
.site-footer {
  border-top: 1px solid #eee;
  background: #fff;
  padding: 20px 0;
  text-align: center;
  min-width: 960px;
}
/* line 306, ../_sass/style.scss */
.site-footer p {
  margin: 0;
}

/* line 311, ../_sass/style.scss */
.site-main {
  float: left;
  width: 75%;
  padding: 20px 10px 150px;
}

/* line 317, ../_sass/style.scss */
.site-aside {
  position: relative;
  float: right;
  width: 25%;
  padding: 20px 10px;
}

/* line 324, ../_sass/style.scss */
.site-nav {
  padding: 20px 0;
}
/* line 330, ../_sass/style.scss */
.site-nav > ul > li {
  text-indent: 0;
  padding-left: 0;
  margin-bottom: 0;
}
/* line 335, ../_sass/style.scss */
.site-nav > ul > li:before {
  content: "";
  margin: 0;
}
/* line 340, ../_sass/style.scss */
.site-nav > ul > li.active {
  border-left: 2px solid #33ccff;
}
/* line 343, ../_sass/style.scss */
.site-nav > ul > li.active > a {
  color: #333;
  padding-left: 18px;
}
/* line 349, ../_sass/style.scss */
.site-nav > ul > li > a {
  display: block;
  padding: 0.5em 0 0.5em 20px;
  line-height: 1.25;
}
/* line 354, ../_sass/style.scss */
.site-nav > ul > li > a:hover {
  text-decoration: none;
  background: #33ccff;
  color: #fff;
}

/* line 364, ../_sass/style.scss */
.sns {
  padding-left: 20px;
  font-size: 19.2px;
}

/* line 369, ../_sass/style.scss */
.site-issues {
  padding-left: 20px;
}
/* line 372, ../_sass/style.scss */
.site-issues li {
  margin-bottom: 1em;
  line-height: 1.25;
}
/* line 377, ../_sass/style.scss */
.site-issues .site-issues-title {
  font-size: 19.2px;
}
