{% include header.html %}

<div class="site-content js-site-content">
	<div class="site-content-above">
		<div class="inner">
			<iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_org }}&repo={{ site.github_repo }}&type=star&count=true" frameborder="0" scrolling="0" width="100" height="20" allowTransparency="true" title="Star on GitHub"></iframe>
			<iframe src="https://ghbtns.com/github-btn.html?user={{ site.github_org }}&repo={{ site.github_repo }}&type=fork&count=true" frameborder="0" scrolling="0" width="100" height="20" allowTransparency="true" title="Fork on GitHub"></iframe>
			<iframe src="http://ghbtns.com/github-btn.html?user={{ site.github_user }}&type=follow" frameborder="0" scrolling="0" width="140" height="20" allowTransparency="true" title="Follow @ixkaito"></iframe>
			<div class="fb-like" data-href="{{ site.url }}{{ site.baseurl }}/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="ixkaito">Tweet</a>
			<a href="https://twitter.com/ixkaito" class="twitter-follow-button" data-show-count="false">Follow @ixkaito</a>
			<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
		</div>
	</div>
	<div class="inner">
		<main class="site-main js-site-main">
			{{ content }}
		</main>
		<aside class="site-aside js-site-aside">
			{% include sidebar.html %}
		</aside>
	</div>
</div>

{% include footer.html %}
